<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.tinyport.tinytest">

    <application
        android:allowBackup="false"
        android:banner="@mipmap/banner"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="TINYTEST"
        android:logo="@android:mipmap/sym_def_app_icon"
        android:supportsRtl="true">
        <service android:name=".MainService" android:exported="true"/>
    </application>
</manifest>
